// ---------------------------------------------
// Slideshow
// --------------------------------------------- 

#slideshow 
    // .uk-slideshow-items>* 

    .content
        z-index: 1
        margin-top: 10%;

    .uk-button
        border-color: white
        &:hover
            background: rgba(255,255,255,0.1)
            

    .uk-cover
        z-index: -1