// ---------------------------------------------
// About
// --------------------------------------------- 

#about-preview
    .box
        background: #F7DEF8
        min-height: 540px
        display: flex
        flex-direction: column
        flex-wrap: nowrap
        justify-content: center
        align-items: center
        align-content: stretch



    

// ---------------------------------------------
// Page | Slideshow 
// ---------------------------------------------

#slideshow
    h2, p, a
        color: white


// ---------------------------------------------
// Page | Slideshow 
// ---------------------------------------------

#slideshow
    h2, p, a
        color: white


// ---------------------------------------------
// Page | Shop 
// ---------------------------------------------

#shop
    .banner
        background: url('./../images/site/shop.jpg') no-repeat center center
        background-size: cover


// ---------------------------------------------
// Page | About 
// ---------------------------------------------

#about
    .banner
        background: url('./../images/site/about.jpg') no-repeat center center
        background-size: cover

    .content
        margin-left: auto
        margin-right: auto

        